<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.anonymouschatroom">
    <uses-permission android:name=" android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>



    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@drawable/cat17"
        android:label="PersonalFavorites"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".seeking"/>
        <activity android:name=".creating"/>
        <activity android:name=".myinfo"/>
        <activity android:name=".chatting"/>
        <activity android:name=".login"/>
        <activity android:name=".register"/>


    </application>

</manifest>